In [ ]:
import pandas as p
import os

In [ ]:
API_KEY = os.environ['APLHA']
symbol = "ITC.BSE"
url = f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&apikey={API_KEY}&datatype=csv&outputsize=full"
data=p.read_csv(url)

In [9]:
data.to_csv('ITC-STOCK-DATA.csv',index=False)

In [11]:
data

       timestamp       open       high        low      close   volume
10    2025-08-21   406.9500   406.9500   403.3500   405.7500   863568
11    2025-08-20   409.5500   410.2500   405.4500   406.0000  1297019
12    2025-08-19   406.8000   409.3500   404.4500   409.0500   896900
13    2025-08-18   411.8500   413.6000   405.0000   406.2000   889491
14    2025-08-14   414.9500   415.4500   411.0500   411.4000   926228
...          ...        ...        ...        ...        ...      ...
5088  2005-01-07  1208.8185  1229.0670  1200.7476  1225.5741  1896408
5089  2005-01-06  1227.1791  1227.2733  1194.1395  1205.0898  2514399
5090  2005-01-05  1248.8907  1248.8907  1209.3378  1221.5151  3260821
5091  2005-01-04  1237.5627  1249.3155  1229.0670  1240.7724  1311132
5092  2005-01-03  1250.3067  1255.4985  1231.9461  1239.4980   874133

[5083 rows x 6 columns]